* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #707070;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

a {
    color: #707070;
    text-decoration: none;
}

/* début header */
#all {
    max-width: 800px;
    margin: 40px auto;
}
@media screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
        margin: 0;
    }
    #all {
        max-width: 70%;
        margin: auto;
    }
    .mail {
        display: flex;
        flex-direction: column;
    }
    .mail .mail-span {
        padding: 5px;
        font-size: 13px;
        width: 90px;
        text-align: center;
    }
}

header .profil {
    display: flex;
    margin-bottom: 24px;
}

header .profil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

header .profil .nom {
    margin-top: 20px;
    margin-left: 30px;
}
@media screen and (max-width: 576px) {
    header .profil .nom {
        margin-top: 20px;
        margin-left: 10px;
    }
}

.mail-span {
    background: #4595F4;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-left: 5px;
}

.bio {
    margin-bottom :24px;
}

header .contact a {
    color: blue;
    text-decoration: underline;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
}
/* fin header */

/* début section-1 */
section {
    margin-bottom: 24px;
}

section .titre {
    margin-top: 10px;
    margin-bottom: 10px;
}

section .competences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

}
@media screen and (max-width: 576px) {
    .competences {
        display: flex;
        flex-direction: column;
        width: auto;

    }
    .competences .competences-1 {
        width: auto;
    }
}

section .competences-1 {
    border: 1px solid #707070;
    border-radius: 7px;
    display: flex;
    padding: 12px;
    align-items: center;
    width: 49%;
    margin-bottom: 10px;
}

section .competences-1:hover {
    background-color: #4595F4;
    color: white;
}

section .competences-1 .pourcentage {
    margin-right: 10px;
    font-size: 42px;
}
/* fin début section-1 */


/* début section-2 */
section .description {
    margin-bottom: 15px;
}

.langue {
    display: flex;
    
    
}
@media screen and (max-width: 576px) {
    .langue .langue-1 {
        display: flex;
        /* flex-direction: column; */
        margin: auto;
    }
}

section .langue .langue-1 {
    border: 1px solid #707070;
    display: flex;
    margin-right: 15px;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
}

section .langue .langue-1 img {
    width: 40px;
    height: 28px;
    margin-right: 12px;
    border-radius: 4px;
}
/* fin début section-2 */


/* début section-3 */
section .experiences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
@media screen and (max-width: 576px) {
    .experiences-1 {
        display:inline-block;
    }
}

section .experiences .experiences-1 {
    width: 25%;
    padding-right: 10px;
}
@media screen and (max-width: 576px) {
    section .experiences .experiences-1 {
        width: 50%;
    }
}
section .experiences .experiences-1 .experiencesline {
    display: flex;
    align-items: center;
}

.experiences .experiences-1 .experiencesline .line {
    width: 100%;
    margin-left: 7px;
    border: none;
    height: 2px;
    background-color: #707070;
}

.experiences .experiences-1 .circle {
    background-color: #707070;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
}

.experiences .experiences-1 .experiencesline:hover
 .line, .experiences .experiences-1 .experiencesline:hover .circle {
    background-color: green;
}

.experiences .experiences-1 p {
    margin-top: 15px;
}
/* fin début section-3 */



/* début section-4 */

.control-0 {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 576px) {
    select {
        border-radius: 7px;
    }
    .control-0 {
        display: flex;
        flex-direction: column;
    }
    .control-0 input, .select {
        width: 100%;
    }
}
.control-1 {
    width: 49%;
}
.control-2{
    width: 49%;
}
.control-3{
    width: 100%;
}
select{
    width: 49%;
    border: 1px solid black;
    border-radius: 7px;
}
.select{
    padding: 15px;
}
.opt {
    font-size: 30px;
}
.control-radio{
    margin-right: auto;
    display: flex;
}
.radio-input{
    margin: 5px;
}
.radio-inputs{
    margin: 5px;
}

@media screen and (max-width: 576px) {
    .control-radio{
        margin-top: 10px;
        padding: -50px;
        margin-left: -65px;
        width: auto;

    }
    .radio-inputs {
        margin-left: -50px;
    }
    
    #inpt {
        justify-content: flex-start;
        display: flex;
        margin-left: 80px;
        margin-top: -19px;

    }
    #inpts {
        margin-left: 60px;
        width: 25%;
    }
}

input {
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 17px;
}

.feedback{
    font-size: 13px;
    color: red;
}

.form-groupss{
    width: 15%;
    padding: 20px;
    background-color: #4595F4;
    color: white;
    border: none;
    border-radius: 7px;
    text-align: center;
}

button {
    text-align: center;
}
@media screen and (max-width: 576px) {
    
    .form-groupss{
        width: 25%;
        padding: 10px;
        background-color: #4595F4;
        color: white;
        border: none;
        border-radius: 7px;
        text-align: center;
    }
    
    button {
        text-align: center;
    }
}
/* fin début section-4 */




/* début footer  */
.letecode{
    color:#4595F4;
    text-decoration: underline;
}
@media screen and (max-width: 576px) {
    
    footer p {
        font-size: 10px;
    }
}
/* fin footer */

